body {
    background-image: url(../images/qui-nguyen-giL2fHNr3Lc-unsplash.jpg);
    background-size: cover;
}

table {
    background-color: rgba(0, 0, 0, 0.755);
}
thead {
    color: #99aa54;
}
tbody {
    color: white;
}

button {
    background-color: #99aa54;
    border-radius: 20px;
    padding: .2rem .8rem;
}